@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

:root {
  --c1: #FFFFFF;
  --c2: #F5F5F5;
  --c3: #A1A1A1;
  --c8: #000000;
  --cb: #dedede;
  --ct: #0244bf;
  --font: 'Source Sans Pro', serif;
  --font2: 'Noto Serif JP', serif;
}

html {scroll-behavior: smooth;}

body {
  font-family: var(--font);
  background: var(--c1);
}

body.dark {
  --c1: #000000;
  --c2: #131313;
  --c3: #5a5a5a;
  --c8: #FFFFFF;
  --cb: #242424;
}


/* TEXT TAG GENERAL STYLES */
  h1 {font-family: var(--font); font-weight: 600; font-size: 75px; margin: 0 0 0; color: var(--c8);}
  h2 {font-family: var(--font); font-weight: 300; font-size: 42px; margin: 0 0 0; color: var(--c8);}
  h3 {font-family: var(--font); font-weight: 600; font-size: 38px; margin: 0rem 0 0;}
  h4 {font-family: var(--font); font-weight: 400; font-size: 28px; line-height: 160%; margin: 0; color: var(--c8);}
  h5 {font-family: var(--font); font-weight: 400; font-size: 24px; margin: .5rem 0 2rem;}
  h6 {font-family: var(--font); font-weight: 400; font-size: 20px; margin: 0; color: var(--c8);}
  p {font-family: var(--font); margin: 0; font-weight: 300; font-size: 22px; line-height: 160%; color: var(--c8);}
  a {font-family: var(--font); color: var(--ct); font-weight: 600; line-height: 180%; text-decoration: none; cursor: pointer;}
  a:hover {font-family: var(--font); color: var(--ct); font-weight: 600; line-height: 180%; text-decoration: none;}

  ul {
    font-family: var(--font);
    font-weight: 200;
    font-size: 24px;
    margin: 0;
  }

header {
  background-color: var(--c1);
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  /*box-shadow: 0 0 .5rem #dddddd;*/
  padding: 0rem 0 .25rem;
}

header h4{
  display: inline;
}

header a {font-family: var(--font); color: var(--c8); font-weight: 600;  font-size: 22px; text-decoration: none; cursor: pointer;}
header a:hover  {font-family: var(--font); color: var(--ct); font-weight: 600;  font-size: 22px; text-decoration: none;}
header a:hover {color: var(--ct);}
header i {cursor: pointer; transition: transform 0.5s; color: var(--cb);}
header i:hover {color: var(--ct);}
.dark header .fa-sun {display: none;}
header .fa-moon {display: none;}
.dark header .fa-moon {display: inline-block;}

hr{
  border-top: 1px solid black;
}

 a {
    /*background-color: #ffffff;

    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;*/

color: var(--c8);
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}

.icon {
  display: block;
  margin: 12px 0 0;
  width: 150px;
  height: 21px;
  background-size: cover;
  }
.icon-logo {
  background-image: url(http://blairthedesigner.com/images/logo.svg);
}
.icon-logo:hover,
.icon-logo:focus {
  filter: invert(17%) sepia(84%) saturate(2414%) hue-rotate(211deg) brightness(108%) contrast(113%);
}



 a:hover {
    /*background-color: #ffffff;*/
}
#top {
  text-align: center;
  /*background-color: var(--ct); */

  padding: 2.75rem 0 0rem;
  margin: 0 0 2rem;
  box-shadow: 0 0 .5rem #dddddd;
}
#worktop {
  text-align: center;
  color: var(--cb);
  padding: 10rem 0;
}
#works {
  color: var(--c8);
  /*background-color: var(--c1);*/
}
#works .row {
    padding: 2rem 0 2rem;
}
#works .row > div {}
#works .row > div > div {
  margin: 0  0 20px;
}
#works .row > div > div > a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 5px 25px 5px 25px;
  background-color: var(--c1);
  border: 1px solid var(--c1);
  border-color: var(--c1);
  box-shadow: 0 0 .5rem #dddddd;
  border-radius:0px;
}
#aboutcontent {
  color: var(--c8);
  word-wrap: break-word;
}
#about {
  padding: 3rem 0 2rem;
}
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
#herobox {
}
#scroll {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#next {
  /*border-radius:5px;
  border: 1px solid var(--c1);
  border-color: var(--c1);
  box-shadow: 0 0 .5rem #dddddd;
  background-color: var(--c2);*/
  padding: 0 10px 0rem;
  margin: 0px 0px 4rem;
}

#next .row > div > div > a {
  padding: 0 0px 0rem;
}

#portfolio {
  /*background-color: var(--c1);*/
  justify-content: center;
  align-items: center;
  padding: 3rem 0 3rem;
}
#title {
  padding: 0 0 .5rem;
}
#space {
  padding: 0 0 3rem;
}
footer {
  /*background-color: var(--c1);
  background-color: var(--c1);*/

  color: var(--c8);
  font-size: 20px;
  padding: 0.5rem 0 0.5rem;
}
i {
  color: var(--c8);
  cursor: pointer;
  transition: transform 0.5s;
  padding: 0 0.5rem 0.5rem;
}
footer i:hover {
  transform: scale(1.0); color: var(--ct);
  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;}


  .slide-in-elliptic-left-fwd {
  	animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes slide-in-elliptic-left-fwd {
    0% {
      transform: translateX(-800px) rotateY(30deg) scale(0);
      transform-origin: -100% 50%;
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotateY(0) scale(1);
      transform-origin: 1800px 50%;
      opacity: 1;
    }
  }


  .color-change-2x {
  	animation: color-change-2x 6s linear infinite alternate both;
    display:inline;
  }

  @keyframes color-change-2x {
    0% {
      color: #19dcea;
    }
    100% {
      color: #b22cff;
    }
  }



  *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }


  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 125px;
  }


  .m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    border-right: 2px solid var(--c3);
    border-bottom: 2px solid var(--c3);
    margin: 0 0 3px 4px;

    width: 16px;
    height: 16px;
  }


  .unu
  {
    margin-top: 1px;
  }

  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;

  }

  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;

    animation-direction: alternate;
    animation-delay: alternate;
  }

  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;

    animation-delay: .2s;
    animation-direction: alternate;

    margin-top: -6px;
  }

  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;

    animation-delay: .3s;
    animation-direction: alternate;


    margin-top: -6px;
  }

  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid var(--c1);
    opacity: 0;
    top: 170px;
  }

  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: var(--c1);
    opacity: 0;
    position: relative;

    height: 4px;
    width: 4px;
    border: 2px solid var(--c1);
    opacity: 0;
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }

  .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
  }

  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {

     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {

     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }

  @-webkit-keyframes mouse-scroll {

    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {

    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {

    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {

    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
